*{
    box-sizing: border-box;
}
body{
    background: url('./globe-2.jpg');
    overflow-x: hidden;
}
.inputout{
    transform: translate(500px,40px);
}
.inputout h1{
    font-size: 60px;
}
.startlet,.anylet{
    margin-bottom: 25px;color: aliceblue;
    font-size:20px;
    height: 40px;
    transform: translateX(60px);
    background: #8a2be2;
    border: 1px solid purple;
}
#anylet{
    margin-bottom: 25px;color: aliceblue;
    font-size:20px;
    height: 40px;
    transform: translateX(60px);
    background: #8a2be2;
    border: 1px solid purple;
}
.dark{
    background:rgb(64, 5, 120);
}
.searchinput{
    font-size: 25px;
    transform: translateX(40px);
    width: 25vw;
    border-radius: 100px;
height: 3vw;
text-align: center;
}
.searchinput:focus{
  border: 1px solid wheat;
}

#s{
    transform: translateX(50px);
    font-size: 30px;
}
.outer{
    width: 100vw;
    background-color: wheat;
   min-height: 55vh;
    border: 1px solid wheat;
    transform: translateY(100px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
}
.ws{
    background: url('./worldcoutn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ws span{
    color: black;
    font-size: 30px;
}