* {
  margin: 0;
  background-color: rgb(236, 221, 226);
  }
  .app {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .input {
  padding: 10px 20px;
  }
  .input > input {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  padding: 10px 20px;
  }
  button {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 300px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(4, 100, 243);
  }
  button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(58, 71, 90);
  }
  button:active {
  background-color: cornflowerblue;
  width: 290px;
  }
  .card {
  padding: 5px;
  width: auto;
  height: auto;
  }
  .result {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto;
  width: auto;
  height: auto;
  }
  .result > img {
  flex-wrap: nowrap;
  margin: 5px;
  }
  .username{
  width: 200px;
  }
  @media screen and (max-width: 700px) {
   .result {
    display: flex;
    flex-direction: column;
   }
  }